<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <%=  partial "partials/js-header" %>

    <%= partial "partials/mkto-variables-content-main" %>
    <%= partial "partials/mkto-variables-form-main" %>

    <title>Kapost</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="http://resources.kapost.com/rs/389-IOX-111/images/jquery.validate.min.js"></script>
    <script src="http://resources.kapost.com/rs/389-IOX-111/images/additional-methods.min.js"></script>

    <!--Referral Source Code-->
    <script src="https://kapost.com/assets/tracking/url.js"></script>
    <script src="https://kapost.com/assets/tracking/js.cookie.js"></script>
    <script src="https://kapost.com/assets/tracking/jquery.refsource.1.3.js"></script>

    <link rel="stylesheet" href="http://resources.kapost.com/rs/389-IOX-111/images/bootstrap.min-4.0.0.css">
    <script src="http://resources.kapost.com/rs/389-IOX-111/images/bootstrap.min-4.0.0.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="http://resources.kapost.com/rs/389-IOX-111/images/jquery-float-label.js"></script>

    <script>
      $(document).ready(function () {
        prePopulateTextFields();
        prePopulateCheckboxFields();
        prePopulatePicklists();
        //populateJobRoleOptions();
        //prePopulateJobRole();
        globalUnsubscribeWarning();
        privacyPolicy();
        checkForCustomer();
        //newsletterSubscriber();
        //toggleVisibilityMain();
        cookiesHiddenFields();
        resetForm();
      });
    </script>

    <link href="http://resources.kapost.com/rs/389-IOX-111/images/2018-Q2-KPST.css" rel="stylesheet">

  </head>

  <body class="page-short">
    <%= partial "partials/header-nav-off" %>
      <%= yield %>
    <%=  partial "partials/js-footer" %>
  </body>

</html>
